@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  width: 100vh;
}

.cshadow{
  box-shadow: 0 0 50px 3px rgba(142, 141, 141, 0.575);
}

input:focus::placeholder {
  color: transparent; /* Hides the placeholder */
}
